.weight-display {
    color: #eab5b5;
    text-align: center;
    margin: 20px;
    user-select: none;
}

.weight-char {
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    width: 50px;
    background: #5a5a5a;
    padding: 10px;
    border-left: 2px solid #444;
}

@media (max-width: 1024px) {
    .weight-char {
        font-size: 2rem;
        width: 30px;
        padding: 5px;
    }
}
