@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

html {
    scrollbar-gutter: stable both-edges;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}


.editable {
    position: relative;
    cursor: pointer;
}

.editable::before {
    content: '✎';
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
}
